<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Buscar:</label>
                <input
                    [(ngModel)]=buscar
                    name="buscar"
                    (keyup.enter)="buscarPelicula()"
                    type="text"
                    class="form-control"
                    placeholder="Buscar una pelicula"
                >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            
            <app-loading *ngIf="loading"></app-loading>
        
            <div class="card-columns animated fadeIn" *ngIf="!loading">
                <app-tarjeta [pelicula]="pelicula" *ngFor="let pelicula of this.peliculas"></app-tarjeta>    
            </div>

            <div *ngIf="peliculas.length === 0 && !loading">
                Sin resultados
            </div>

        </div>
    </div>

</div>